.blogbox {
    width: 425px;
    height: 225px;
    border: 1px;
    border-radius: 20px;

    background-color: black;
    text-align: center;

    transition: transform ease 300ms;
} .blogbox:hover {
    transform: translate(0, -10px);
    background-color: rgb(55, 55, 56);
    color: white;
}

.box {
    width: 200px;
    height: 40px;
    border: 1px;
    border-radius: 20px;

    background-color: black;
    text-align: center;

    transition: transform ease 300ms;
} .box:hover {
    transform: translate(0, -10px);
    background-color: rgb(55, 55, 56);
    color: white;
}

.home {
    margin-top: 3px;
    width: 70px;
    height: 70px;
    
    text-align: center;

    transition: transform ease 300ms;
} .home:hover {
    transform: translate(0, -5px);
}


/* CLASS */



/* DIVS */
/* TOP HEADER */
#header {
    position: sticky; 
    display: flex;
    
    font-family: "Aborelo";
    font-size: 80px;
} #header-text {
    margin-left: 10px;
} #break { 
    height: 110px; 
} 




/* centre */
#main {
    font-family: 'Edu TAS Beginner';
    
} #Title-H {
    font-size: 50px;
    font-weight: 700;
} #Title-B {
    font-size: 28px;
    font-weight: 700;
} #Para {
    font-weight: 400;
    
    margin-left: 200px;
    margin-right: 200px;
}






/* BOTTOM HEADER */
#bottom {
    top: 700px;

    border-color: red;
    border-radius: 5px;
} #header-buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 200px;
} #header-discord-button {
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0) ;

    position: relative;
} #header-twitter-button {
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0) ;

    position: relative;
}
